* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

#cityInput {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    margin-right: 10px;
    width: 200px;
    margin-bottom: 10px;
    background-color: #667eea;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #ffffffcc;
    color: #333;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #ffffff;
}

#weatherData {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

#weatherData img {
    width: 80px;
    margin-top: 10px;
}

p {
    margin: 6px 0;
    font-size: 18px;
}