.container{
    width: 500px;
    height: 400px;
    border: 5px solid blue;
    border-radius: 5px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0px 0px 5px 10px darkblue;
    text-align: center;
    background-image: url(https://picsum.photos/id/13/367/267);
    background-repeat: no-repeat;
    background-size: cover;
}
#input-1, #input-2{
    width: 80%;
    padding: 10px;
    font-size: 24px;
    margin: 10px;
    border-radius: 5px;
    background-color: transparent;
}
#btn-sum{
    width: 90%;
    padding: 10px;
    font-size: 24px;
    background-color: lightblue;
    background-color: transparent;
    border-radius: 10px;
}