/* Basic CSS styles for page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    border-radius: 5px;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: coral;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: wheat;
}

.accordion-button {
    background-color: lightcoral;
    border-radius: 5px;
    color: whitesmoke;
}
.accordion-body{
    background-color: darksalmon;
    border-radius: 5px;
    color: whitesmoke;
}
.accordion-item{
    border-radius: 5px;
}

/* Add loading spinner while page is loading */
#loading {
    display: block;
    font-size: 24px;
    font-weight: bold;
}