.container{
    width: 600px;
    height: 450px;
    border: 3px solid wheat;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 8px whitesmoke;
    text-align: center;
    margin: 100px auto;
    /* background-image: url(https://picsum.photos/id/257/367/267); */
    background-color: white;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}
input{
    background-color: transparent;
    width: 70%;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}
button{
    width: 70%;
    background-color: transparent;
    font-size: 24px;
    font-weight: 800;
    margin-top: 5px;
    border-radius: 10px;
}
button:hover{
    background-color: whitesmoke;
}
input:hover{
    background-color: whitesmoke;
}